<!-- Lodging info

Travel info

Travel info

Eat, Do, See -->

<!-- <button data-toggle="collapse" data-target="#demo">Collapsible</button>

<div id="demo" class="collapse">
Lorem ipsum dolor text....
</div> -->

<!-- lodging -->

<!-- <body ng-app="backPackedApp">
    <main class="container">



      <button data-toggle="collapse" data-target="#demo">Collapsible</button>

      <div id="demo" class="collapse">
      Lorem ipsum dolor text....
      </div> -->



<!-- Submit lodging info -->
<div name="destinationNameDiv">
    <p id="destinationName" class="text-center">{{destCtrl.destination[0].destinationName}}</p>
</div>

<section id="lodgingDetails" class="row">

    <div class="text-center" id="title">
        <p>Lodging</p>
    </div>
    <!--
            <button data-toggle="collapse" data-target="#lodging">Lodging Info</button>

            <div id="lodging" class="collapse"> -->



    <form id="lodgingForm">
        <div class="row">
            <!-- <label for="destinationName">{{destCtrl.destination.destinationName}}</label>
                  <input type="text" id="destination" name="destinationName" ng-model="destCtrl.destination.destinationName" /> -->

            <div class="form-group">
                <label for="lodgingName">Name:</label>
                <input type="text" class="form-control" id="lodging" name="lodgingName" ng-model="destCtrl.destination[0].lodgingName" placeholder="ie: hostel name" />

                <label for="lodgingAddress">Address:</label>
                <input type="text" class="form-control" id="lodging" name="lodgingAddress" ng-model="destCtrl.destination[0].lodgingAddress" placeholder="ie: an address" />

                <label for="lodgingBookedFrom">From:</label>
                <input type="date" class="form-control" id="lodging" name="lodgingFrom" ng-model="destCtrl.destination[0].lodgingFrom" />

                <label for="lodgingBookedTo">To:</label>
                <input type="date" class="form-control" id="lodging" name="lodgingTo" ng-model="destCtrl.destination[0].lodgingTo" />

                <label for="lodgingResNumber">Reservation Number:</label>
                <input type="text" class="form-control" id="lodging" name="lodgingResNum" ng-model="destCtrl.destination[0].lodgingResNum" placeholder="xxxxxxxxxxxxxxxxxx" />

                <label for="lodgingNote">Note:</label>
                <input type="text" class="form-control" id="lodging" name="lodgingNote" ng-model="destCtrl.destination[0].lodgingNote" placeholder="ie: Remember to..." />


            </div>

            <div class="nine columns" id="update-button">
                <button ng-click="destCtrl.destinationInfoUpdater(destCtrl.destination[0])" class="text-center btn btn-primary" id="update-button">Update</button>

                <!-- <button ng-click="destCtrl.lodgingUpdater(destCtrl.destination)" class="update">Update</button> -->
            </div>

        </div>
    </form>
    <!-- </div> -->

</section>

<!-- submit transportation info -->
<section id="travelDetails" class="row">

    <div class="text-center" id="title">
        <p>Travel</p>
    </div>
    <form id="travelToForm">
        <div class="row">
            <div class="form-group">
                <label for="arrival">How you're arriving:</label>
                <input type="text" class="form-control" id="arrival" name="arrivalHow" ng-model="destCtrl.destination[0].arrivalHow" />

                <label for="arrivalAddress">Where:</label>
                <input type="text" class="form-control" id="arrival" name="arrivalWhere" ng-model="destCtrl.destination[0].arrivalWhere" placeholder="ie: airport or train station" />

                <label for="arrivalTime">Arrival Time:</label>
                <input type="time" class="form-control" id="arrival" name="arrivalTime" ng-model="destCtrl.destination[0].arrivalTime" />

                <label for="arrivalResNumber">Reservation Number:</label>
                <input type="text" class="form-control" id="arrival" name="arrivalResNum" ng-model="destCtrl.destination[0].arrivalResNum" placeholder="xxxxxxxxxxxxxxxxxx" />

                <label for="departure">How you're departing:</label>
                <input type="text" class="form-control" id="departure" name="departureHow" ng-model="destCtrl.destination[0].departureHow" placeholder="ei: train from..." />

                <label for="departureAddress">Where:</label>
                <input type="text" class="form-control" id="departure" name="departureWhere" ng-model="destCtrl.destination[0].departureWhere" placeholder="ie: airport or train station" />

                <label for="departureTime">Departure Time:</label>
                <input type="time" class="form-control" id="departure" name="departureTime" ng-model="destCtrl.destination[0].departureTime" />

                <label for="departureResNumber">Reservation Number:</label>
                <input type="text" class="form-control" id="departure" name="departureResNum" ng-model="destCtrl.destination[0].departureResNum" placeholder="xxxxxxxxxxxxxxxxxx" />

            </div>

        </div>

        </div>


        <div class="form-group">
            <!-- <button ng-click="destCtrl.destinationInfoUpdater(destCtrl.destination)">Add</button> -->

            <button ng-click="destCtrl.destinationInfoUpdater(destCtrl.destination[0])" class="update text-center btn btn-primary" id="update-button">Update</button>
        </div>

        </div>
    </form>
</section>


<section id="toDo-section" >
    <div class="text-center" id="title">
        <p>Things To Do Here</p>
    </div>
    <section class="toDo-cards" id="todo-entry">
        <div class="panel panel-primary col-sm-4 text-center">
            <div class="panel-body">

                <label for="toDoWhat">Things to do here</label>
                <input ng-model="destCtrl.newToDo.toDoWhat">

                <button ng-click="destCtrl.addNewToDo()" class="btn btn-primary update" id="update-button">Add</button>
            </div>
        </div>
    </section>

    <section class="toDo-cards">
        <div id="toDoList" class="panel panel-primary col-sm-4 text-center" ng-repeat="toDo in destCtrl.destination[0].toDos">
            <div class="panel-body">
                <input ng-model="toDo.toDoWhat">
                <!-- <button ng-click="destCtrl.addNewToDo()" class="update">Update</button> -->
            </div>
        </div>
    </section>

</section>
<!-- <section>
    <label for="toDoWhat">What's something you want to do here?</label>
    <input ng-model="destCtrl.newToDo.toDoWhat">

    <button ng-click="destCtrl.addNewToDo()" class="update">Update</button>
</section>

<section class="toDos">
    {{destCtrl.destination[0].toDos}}
    <div id="toDoList">
        <ul ng-repeat="toDo in destCtrl.destination[0].toDos">
            <li><input ng-model="toDo.toDoWhat"></li>

        </ul>
    </div>
</section> -->




<!-- Submit a to-do -->
<!-- <section id="todoSubmission" class="row">
            <p>Add To-Do</p>
            <form id="toDoAddForm">
                <div class="row">
                    <div class="three columns">
                        <label for="currentToDoName">What:</label>
                        <input type="text" id="currentToDo" name="toDoName" ng-model="destCtrl.toDoName" placeholder="eg: Eiffel Tower" />
                        <label for="currentToDoLocation">Where:</label>
                        <input type="text" id="currentToDo" name="toDoLocation" ng-model="destCtrl.toDoLocation" placeholder="Address or area of city" />
                        <label for="currentToDoCost">Cost Estimate:</label>
                        <input type="text" id="currentToDo" name="toDoCost" ng-model="destCtrl.toDoCost" placeholder="eg: ~$15-$20" />
                        <label for="currentToDoTime">Time Estimate:</label>
                        <input type="text" id="currentToDo" name="toDoTime" ng-model="destCtrl.toDoTime" placeholder="eg: 2-4hrs" />
                        <label for="currentToDoNote">Note:</label>
                        <input type="text" id="currentToDo" name="toDoNote" ng-model="destCtrl.toDoNote" placeholder="Reminder to arrive early..." />

                    </div>

                    <div class="nine columns">
                        <button ng-click="destCtrl.toDoAdder(destCtrl.toDoName, destCtrl.toDoLocation,destCtrl.toDoCost, destCtrl.toDoTime,
              destCtrl.toDoNote)">Add</button>
                    </div>

                </div>
            </form>
        </section> -->
<!-- See submitted to-dos -->
<!-- <section id="toDos" class="row">
            <p>To-Do:</p>
            <div id="toDoList">
                <div class="toDos row">
                    <div class="three columns">
                        <label for="toDosName"></label>
                        <input ng-model="toDo.toDoName" type="text" id="toDoName" name="toDoName" />
                        <ul>
                            <li><label for="toDoLocation"></label>
                                <input ng-model="toDo.toDoLocation" type="text" id="toDoLocation" name="toDoLocation" /></li>
                            <li><label for="toDoCost"></label>
                                <input ng-model="toDo.toDoCost" type="text" id="toDoCost" name="toDoCost" /></li>
                            <li><label for="toDoTime"></label>
                                <input ng-model="toDo.toDoTime" type="text" id="toDoTime" name="toDoTime" /></li>
                            <li><label for="toDoNote"></label>
                                <input ng-model="toDo.toDoNote" type="text" id="toDoNote" name="toDoNote" /></li>
                        </ul>
                    </div>

                    <div class="nine columns">

                        <button ng-click="destCtrl.toDoUpdater(destination)" class="update">Update</button>
                        <button ng-click="destCtrl.toDoRemover(destination)" class="delete">Delete</button>
                    </div>
                </div>
            </div>
        </section> -->
</main>
</body>
