<!-- Trip view -->


<!-- Destinations listed -->

<body ng-app="backPackedApp">
    <a href="#" ng-click="auth.logout()">Logout</a>
    <main class="container">
        <!-- ng-controller="tripController as tripCtrl" -->


        <!-- Submit a destination -->
        <!-- <section id="destinationSubmission" class="row">
        <h2>Add a Stop</h2>
        <form id="destinationAddForm">
          <div class="row">
            <div class="three columns">
              <label for="currentDestinationName">Destination:</label>
              <input type="text" id="currentDestinationName" name="destinationName" ng-model="tripCtrl.destinationName"/>
            </div>

            <div class="nine columns">
              <button ng-click="tripCtrl.destinationAdder(tripCtrl.destinationName)">Add</button>
            </div>

          </div>
        </form>
      </section> -->
        <!-- See submitted destinations -->
        <section id="destinations" class="row">
            <h2>Destinations</h2>

<div class="destination-cards">
  <div class="panel panel-primary col-sm-4 text-center">
      <div class="panel-body">
        <img ng-src="http://placehold.it/320x165/?text=new+destination" alt="New Destination text image">
        <p>
          <input type="text" class="form-control" id="currentDestinationName" name="destinationName" ng-model="tripCtrl.destinationName"  />
          </p>
          <button class= "btn btn-primary" ng-click="tripCtrl.destinationAdder(tripCtrl.destinationName)">Add this Stop</button>
      </div>
  </div>
</div>


<div class="destination-cards">
            <div class="panel panel-primary col-sm-4 text-center" ng-repeat="destinations in tripCtrl.destinationsList">
                <div class="panel-body">
                    <img ng-src="https://source.unsplash.com/320x180/?{{destinations.destinationName}}" alt="Random picture from {{destinations.destinationName}}">
                    <p>{{destinations.destinationName}}</p>
                    <button class="btn btn-primary" ng-click="setRoute('/dest/'+destinations.destinationName)">
                      Show your {{destinations.destinationName}} Info
                    </button>
                </div>
            </div>

</div>

            <!-- </div> -->
        </section>
    </main>
</body>
