<!-- Trip view -->


<!-- Destinations listed -->
<body ng-app="backPackedApp" >
  <a href="#" ng-click="auth.logout()" >Logout</a>
    <main class="container">
    <!-- ng-controller="tripController as tripCtrl" -->

      <h1>Destinations</h1>
      <!-- Submit a destination -->
      <section id="destinationSubmission" class="row">
        <h2>Add a Stop</h2>
        <form id="destinationAddForm">
          <div class="row">
            <div class="three columns">
              <label for="currentDestinationName">Destination:</label>
              <input type="text" id="currentDestinationName" name="destinationName" ng-model="tripCtrl.destinationName"/>
            </div>

            <div class="nine columns">
              <button ng-click="tripCtrl.destinationAdder(tripCtrl.destinationName)">Add</button>
            </div>

          </div>
        </form>
      </section>
      <!-- See submitted destinations -->
      <section id="destinations" class="row">
        <h2>Destinations</h2>
        <div id="destinationList" >
          <ul ng-repeat="destinations in tripCtrl.destinationsList">
            <li>
              <button type="destination" name="button for {{destinations.destinationName}}" ng-click="">{{destinations.destinationName}}</button>
              <!-- <div class="three columns">
                <label for="destinationName"></label>
                <input ng-model="destination.destinationName" type="text" id="destinationName" name="destinationName" />
              </div> -->
            </li>

                <!-- <button ng-click="tripCtrl.destinationUpdater(destination)" class="update">Update</button>
                <button ng-click="tripCtrl.destinationRemover(destination)" class="delete">Delete</button> -->


          </ul>

        </div>
      </section>
    </main>
  </body>
